# React Native
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
/.expo
/.vscode
*.lock
*.env

# Android
.android/
build/
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
*.xcworkspace

# macOS
macos/Pods/
macos/build/

# IDE
.idea/
.vscode/

# Expo
.expo/
.expo-shared/

# Bundles
*.map

# Debug
debug/

# Other
*.bak
*.swp
